/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
/* https://fonts2u.com/starwars.font */
@font-face {font-family:"STARWARS";src:url("../fonts/STARWARS.eot?") format("eot"),url("../fonts/STARWARS.woff") format("woff"),url("../fonts/STARWARS.ttf") format("truetype"),url("../fonts/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}

body {
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
    background-image: url("../images/starwars_bg.jpg"); 
    background-size: cover;
    background-position: center center;
}

.container {
    width: 80vw;
    border: 2px solid white;
    border-radius: 5px;
    height: 80vh;
    margin: auto;
}

#border-header {
    text-align: left;
    width: 80vw;
    margin: auto;
}

div {
    text-align: left;
}

h1 {
    font-family: "STARWARS";
    padding: 0px;
    font-size: 2em;
    color: #ffffff;
}

h2 {
    font-family: "STARWARS";
    padding: 0px;
    font-size: 1em;
    color: #ffffff;
}

.choose-fighter {
    height: 25%;
}

.swg.opp-fighter {
    display: none;
}

.swg.bat-fighter {
    display: none;
}

.swg {
    margin-top: 10px;
}

#attack {
    display: none;
}